{% extends 'base.html' %}

{% block title %} Anasayfa - {{ block.super }} {% endblock %}

{% block body %}

<div class="container-fluid">
<div class="row" style="margin-bottom: 30px;">
    <div class="col-md-3 col-sm-6" style="background-color: red; height: 100px;">1. sütun</div>
    <div class="col-md-3 col-sm-6" style="background-color: #0902ff; height: 100px;">2. sütun</div>
    <div class="col-md-3 col-sm-6" style="background-color: #2dff51; height: 100px;">3. sütun</div>
    <div class="col-md-3 col-sm-6" style="background-color: #ff6f00; height: 100px;">4. sütun</div>

</div>
</div>

{% endblock %}